body{
  font-family: Arial, Helvetica, sans-serif;
 }
 .has-search{
    position: relative;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .side-nav-hover:hover{
    background-color: rgba(255, 0, 0, 0.1);
  }
  .hover-effect:hover{
    text-decoration: underline !important;
    color: red !important;
    text-underline-offset: 10px !important;
  }
  .paid{
    color: #3CDD5F !important;
    background-color: #EBFFEF !important;
  }
  .unpaid{
    color: #FF4545 !important;
    background-color:#FFF5F5!important;
  }
  .pending{
    color:#BABABA!important;
    background-color:  #F8F8F8 !important;
  }
  .css-active{
    background-color: rgba(255, 0, 0, 0.1) !important;
  }
  .css-yearly{
    text-underline-offset: 10px !important;
  }
  /* .nav-hover:hover{
    color: red !important;
    text-decoration:underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
  } */
  /* .form-outline .form-control:focus {
    border:2px solid #ff4d4f !important;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  }

*/
/*  
  input:focus + label{
    background-color: white;
    z-index: 5;
    color: red !important;
    padding: 0 5px;
  }

  input:focus{
    border: 2px solid red !important;
  }
   
  .form-outline {
    border: none !important;
    border: 1px solid red !important;

  }
    */
    .nav-hover{
      margin-bottom: 3px;
    }

    .nav-hover:hover{
      margin-bottom: 0px;
      border-bottom: 3px solid red ;
      color: red !important;
    }